<style>
  .results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }

  .results-table th,
  .results-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
  }

  .results-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  .results-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .results-table tr:hover {
    background-color: #eef;
  }

  .col-large {
    width: 15%;
  }

  .col-small {
    width: 12%;
  }
</style>

<div>
  <h1>Simulateur de paiement des congés payés</h1>

  <% if flash[:error] %>
    <p style="color: red;"><%= flash[:error] %></p>
  <% end %>

  <%= form_with url: simulator_calculate_path, method: :post, local: true, data: { turbo: false } do %>
    <label>Date de début du contrat :
      <%= date_field_tag :start_date, params[:start_date] || Date.new(2021,1,1) %>
    </label><br>

    <label>Date de fin du contrat :
      <%= date_field_tag :end_date, params[:end_date] || Date.new(2021,12,31) %>
    </label><br>

    <label>Salaire mensuel:
      <%= number_field_tag :salary, params[:salary] || 400 %>
    </label><br>

    <%= submit_tag "Calculer" %>
  <% end %>
</div>

<% if @periods.present? %>
  <hr>
  <div>
    <h2>Résultat du calcul</h2>
    <table class="results-table">
      <tr>
        <th class="col-large">Périodes</th>
        <th class="col-small">Nombre de mois d'acquisition</th>
        <th class="col-small">Nombre de jours acquis</th>
        <th class="col-small">Méthode "maintien de salaire"</th>
        <th class="col-small">Méthode 10%</th>
        <th class="col-small">Valeur monétaire de ces jours : max des 2 méthodes à gauche</th>
      </tr>

      <% @periods.each_with_index do |period, i| %>
        <tr>
          <td><%= period.start_date %> =>  <%= period.end_date %></td>
          <td><%= period.nb_months %></td>
          <td><%= period.nb_leave_days %></td>
          <td><%= period.maintain_salary_leave_value %></td>
          <td><%= period.ten_percent_leave_value %></td>
          <td><%= period.final_leave_value %></td>
        </tr>
      <% end %>
    </table>

    <% if @months.present? %>
    <table class="results-table">
      <tr>
        <th class="col-large">Mois</th>
        <th class="col-small">Salaire (brut)</th>
        <th class="col-small">Congés - Paiement intégral en juin</th>
        <th class="col-small">Congés - Paiement par 12ème</th>
        <th class="col-small">Congés - Paiement par 10% + régularisation en juin</th>
      </tr>

      <% @months.each_with_index do |month, i| %>
        <tr>
          <td><%= month.start_date.strftime("%B %Y") %></td>
          <td><%= month.perceived_salary %></td>
          <td><%= month.payment_in_june %></td>
          <td><%= month.payment_by_the_dozen %></td>
          <td><%= month.payment_by_ten_percent %></td>
        </tr>
      <% end %>
    </table>
    <% end %>

  </div>
<% end %>
