<div>
 <h1>Simulateur de paiement des congés payés</h1>

 <% if flash[:error] %>
  <p style="color:red"><%= flash[:error] %></p>
 <% end %>

 <%= form_with url: simulator_calculate_path, method: :post, local: true, data: { turbo: false } do %>
  <label>Date de début du contrat :
   <%= date_field_tag :start_date, Date.new(2021,1,1) %>
  </label><br>

  <label>Date de fin du contrat :
   <%= date_field_tag :end_date, Date.new(2021,12,31) %>
  </label><br>

  <label>Salaire mensuel:
   <%= number_field_tag :salary, 400 %>
  </label><br>

  <%= submit_tag "Calculer" %>
 <% end %>
</div>